.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #2b2b30;
}

.screenWrap {
  margin-bottom: 45px;
}

.actionButtonsWrapper {
  margin-bottom: 25px;
}