.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    grid-gap: 10px;

    width: 250px;
    height: 250px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upButtonContainer  {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.leftButtonContainer {
    grid-column-start: 1;
}

.rightButtonContainer  {
    grid-column-start: 3;
}

.downButtonContainer  {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.squareButton {
    width: 75px;
    height: 75px;

    border-radius: 10px;

    background: #d3b03c;
}

.squareButton:active {
    scale: 0.9;

    transition: scale 0.02s linear;
}

.triangle {
    position: relative;
    top: -3px;
    height: 0;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid #2e312e;
}

.upButton {
    transform: rotate(0deg);
}

.leftButton {
    transform: rotate(270deg);
}

.rightButton {
    transform: rotate(90deg);
}

.downButton {
    transform: rotate(180deg);
}
