.buttonPanel {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.button {
  color: #d3b03c;
  padding: 5px 10px;
  font-size: 50px;
  border-radius: 10px;
  background-color: #2d2d28;

  border: 2px solid #d3b03c;
}

.button:active {
  scale: 0.9;

  transition: scale 0.02s linear;
}
